/FEATURE_LOG
/clinics/migrations/0001_initial.py
/clinics/migrations/0002_initial.py
/clinics/migrations/0003_initial.py
/clinics/migrations/0004_initial.py
/clinics/migrations/__init__.py
/supercda/settings.pyc
/clinics/__init__.pyc
/clinics/forms.pyc
/clinics/migrations/0001_initial.pyc
/clinics/migrations/0002_initial.pyc
/clinics/migrations/0003_initial.pyc
/clinics/migrations/0004_initial.pyc
/clinics/migrations/__init__.pyc
/clinics/models.pyc
/clinics/views.pyc
/supercda/__init__.pyc
/supercda/settings/__init__.pyc
/supercda/settings/base.pyc
/supercda/settings/local.pyc
/supercda/urls.pyc
/supercda/views.pyc
/supercda/wsgi.pyc
/.idea/.name
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/other.xml
/.idea/scopes/scope_settings.xml
/.idea/superCDA.iml
/.idea/testrunner.xml
/.idea/vcs.xml
/.idea/workspace.xml
/IDEAS_NOTES
